@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="text-center">
        <img src="~/img/home4.jpg" style="height:450px" class="banner">
    </div>
    <div class="container-fluid1 bg-2 text-center">
        <h3 class="margin">Want to find a Movie?</h3>
        <p>Go to the below link and search for a movie listed in our database by entering the keyfields.</p>
        <p>Go to the below link and search for a movie listed in our database by entering the keyfields.</p>
        <a asp-controller="Movie" asp-action="Search" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
    </div>
</body>


<style>
    body {
        font: 20px Montserrat, sans-serif;
        line-height: 1.8;
        color: #f5f6f7;
    }
    .bg-1 {
        background-color: #1abc9c; /* Green */
        color: #ffffff;
    }
    .bg-2 {
        background-color: #474e5d; /* Dark Blue */
        color: #ffffff;
    }
    .container-fluid1 {
        padding-top: 10px;
        padding-bottom: 30px;
    }

    .margin {
        margin-bottom: 45px;
    }
</style>